/* --------------------------------БАЗОВЫЕ НАСТРОЙКИ-------------------------------- */

/* ПЕРЕМЕННЫЕ ЦВЕТА */
:root {
  --fon-color: #e5e5e5;
  --header-color: #ffff;
  --footer-color: #2f303a;
  --link-color: #2196f3;
}

/* БАЗОВЫЕ СТИЛИ */
body {
  color: #212121;
  font-family: "Roboto", sans-serif;
  margin: 0;
}

/* СВОЙСТВА СЕКЦИЙ */
.header {
  background-color: var(--header-color);
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}

.hero {
  background-color: var(--footer-color);
  padding-top: 200px;
  padding-bottom: 200px;
}

.feature {
  background-color: var(--header-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

.picture {
  background-color: var(--header-color);
  padding-top: 0px;
  padding-bottom: 94px;
}

.teams {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}

.footer {
  background-color: var(--footer-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.project {
  background-color: var(--header-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

/* ОБНУЛЕНИЕ МАРДЖИНОВ */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

/* ОБНУЛЕНИЕ МАРДЖИНОВ */
ul,
ol {
  margin: 0;
  padding-left: 0;
}

/* ОБЪЯВЛЕНИЕ КАРТИНОК БЛОЧНЫМ ЭЛЕМЕНТОМ */
img {
  display: block;
}

/* СВОЙСТВО КОНТЕЙНЕРА */
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  /* outline: 2px solid red; */
}

/* УБИРАЕТ ТОЧКИ В СПИСКЕ */
.list {
  list-style: none;
  font-style: normal;
}

/* УБИРАЕТ ПОДЧЁРКИВАНИЕ ССЫЛОК */
.link {
  text-decoration: none;
}

.link:hover,
.link:focus {
  color: var(--link-color);
}

/* --------------------------------STUDIO. ШАПКА-------------------------------- */

.list .current {
  color: var(--link-color);
}

.header-container {
  display: flex;
  align-items: center;
}

.header-list {
  display: flex;
}

.header-connect {
  margin-left: auto;
}

.web {
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.03em;
  font-family: "Raleway";
  color: var(--link-color);
  line-height: 1.17;
}

.studio {
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.03em;
  font-family: "Raleway";
  color: var(--header-color);
  line-height: 1.17;
}

.header-logo {
  font-size: 26px;
  font-weight: 700;
  font-family: "Raleway";
  color: #212121;
  line-height: 1.17;
  margin-right: 93px;
  text-decoration: none;
}

.header-link {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #212121;
}

.header-item:not(:last-child) {
  margin-right: 50px;
}

.header-mail {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #757575;
}

.header-tel {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #757575;
  margin-left: 50px;
}

/* --------------------------------STUDIO. ЗАГОЛОВОК-------------------------------- */

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero-text {
  font-size: 44px;
  font-weight: 900;
  letter-spacing: 0.06em;
  color: var(--header-color);
  line-height: 1.36;
  text-align: center;
  width: 696px;
  margin-bottom: 30px;
}
.hero-btn {
  font-size: 16px;
  font-weight: 700;
  font-family: "Roboto";
  letter-spacing: 0.06em;
  background-color: var(--link-color);
  color: var(--header-color);
  line-height: 1.88;
  cursor: pointer;
  min-height: 50px;
  min-width: 200px;
  border: 0px;
  border-radius: 4px;
}

/* --------------------------------STUDIO. ОСОБЕННОСТИ-------------------------------- */

.feature-list {
  display: flex;
}

.feature-item {
  width: 270px;
}
.feature-item:not(:last-child) {
  margin-right: 30px;
}

.feature-property {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: #212121;
  line-height: 1.17;
  margin-bottom: 10px;
}

.feature-text {
  font-size: 14px;
  letter-spacing: 0.03em;
  color: #757575;
  line-height: 1.71;
}

/* --------------------------------STUDIO. ЧЕМ МЫ ЗАНИМАЕМСЯ-------------------------------- */

.heading {
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: #212121;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.picture-list {
  display: flex;
}

.picture-item:not(:last-child) {
  margin-right: 30px;
}

/* --------------------------------STUDIO. НАША КОМАНДА-------------------------------- */

.teams-list {
  display: flex;
}

.teams-item {
  background-color: var(--header-color);
  border-radius: 0px 0px 4px 4px;
}

.teams-item:not(:last-child) {
  margin-right: 30px;
}

.teams-property {
  font-weight: 500;
  letter-spacing: 0.03em;
  color: #212121;
  line-height: 1.17;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 10px;
}

.teams-text {
  letter-spacing: 0.03em;
  color: #757575;
  line-height: 1.71;
  text-align: center;
  padding-bottom: 30px;
}

/* --------------------------------STUDIO. ПОДВАЛ-------------------------------- */

.footer-logo {
  padding-bottom: 20px;
}

.header-logo {
  font-size: 26px;
  font-weight: 700;
  font-family: "Raleway";
  letter-spacing: 0.03em;
  line-height: 1.71;
}

.footer-item:not(:last-child) {
  padding-bottom: 9px;
}

.footer-adress {
  font-size: 14px;
  color: var(--header-color);
  letter-spacing: 0.03em;
  line-height: 1.71;
}

.footer-mail,
.footer-tel {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
  letter-spacing: 0.03em;
  line-height: 1.71;
}

/* --------------------------------PORTFOLIO. КНОПКИ-------------------------------- */

.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-item:not(:last-child) {
  margin-right: 8px;
}

/* СВОЙСТВА КНОПОК ФИЛЬТРА */
.filter-btn {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
  background-color: #f5f4fa;
  color: #212121;
  line-height: 1.63;
  padding: 6px 22px;
  cursor: pointer;
  border: 0px;
  border-radius: 4px;
}

/* ЦВЕТ КНОПОК ФИЛЬТРА ПРИ НАВЕДЕНИИ КУРСОРА И РАБОТЕ <TAB> */
.filter-btn:hover,
.filter-btn:focus {
  background-color: #2196f3;
  color: var(--header-color);
}

/* --------------------------------PORTFOLIO. НАШИ ПРОЕКТЫ-------------------------------- */

.project-info {
  width: 370px;
  padding: 20px 24px;
  background-color: #ffffff;
  border: 1px solid #eeeeee;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}

.project-item {
  width: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-bottom: 30px;
}

.project-item:not(:nth-last-child(n + 4)) {
  margin-bottom: 0px;
}

.project-property {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.06em;
  color: #212121;
  line-height: 2;
  margin-bottom: 4px;
}

.project-text {
  letter-spacing: 0.03em;
  color: #757575;
  line-height: 1.88;
}
